.masthead {
    view-timeline-name: --hero-view;
    max-width: 100vw;
    height: 100vh;
    overflow: clip;
    display: grid;
    place-content: center;
    padding: 0 1rem;
    position: relative;
    z-index: 10;
}

.masthead .hero-media {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: scale-up both linear, fade-away both linear;
    animation-timeline: --hero-view, --hero-view;
    animation-range: entry-crossing 70% exit 90%, exit 10% exit 70%;
    will-change: transform, opacity, scale, top;
    margin: 0;
    width: clamp(300px, 60vw, 1000px);
    aspect-ratio: 21 / 9;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(11, 12, 14, 0.15);
}

@keyframes scale-up {
    100% {
        top: 0;
        scale: 5;
    }
}

@keyframes fade-away {
    100% {
        opacity: 0;
    }
}