.masthead {
    view-timeline-name: --hero-view;
}

.masthead .hero-text {
    animation: text-zoom-out both ease-in, fade-away both linear;
    animation-timeline: --hero-view, --hero-view;
    animation-range: exit 0% exit 70%, exit 0% exit 70%;
    will-change: transform, opacity;
}

@keyframes text-zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(2.8);
    }
}

@keyframes fade-away {
    100% {
        opacity: 0;
    }
}

.masthead .hero-cta {
    animation: fade-away both linear;
    animation-timeline: --hero-view;
    animation-range: exit 0% exit 20%;
    will-change: opacity;
}