.masthead {
    view-timeline-name: --hero-view;
}

.masthead .hero-text {
    animation: text-zoom-out both linear, fade-away both linear;
    animation-timeline: --hero-view, --hero-view;
    animation-range: exit 0% exit 60%, exit 0% exit 60%;
    will-change: transform, opacity;
}

@keyframes text-zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(4);
    }
}

@keyframes fade-away {
    100% {
        opacity: 0;
    }
}